@import "tailwindcss";

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: rgb(246, 246, 246); */
    /* background-image: linear-gradient(to right, rgb(237, 236, 236), rgb(216, 210, 210), rgb(216, 210, 210)); */
    /* background-color: rgb(237, 236, 236); */
    /* background-color: rgb(85, 3, 3); */
    background-color: rgb(56, 18, 51);

    margin: 0;
    padding: 0;
}

button{
    cursor: pointer
}

.builder{
    background-color: rgb(238, 235, 235);
    /* background-image: linear-gradient(to right, rgb(199, 196, 196), rgb(216, 210, 210), rgb(150, 146, 146)); */
    /* background-color: rgb(41, 144, 50); */
    /* background-color: rgb(56, 18, 51); */
}

input, textarea{
    box-shadow: 3px 3px rgb(208, 207, 207) ;
}

.resume {
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    padding: 10mm 20mm;
    background: white;
    box-sizing: border-box;
    border: 2px solid black
}

.resume p{
    line-height: 22px;
}

.form-section::-webkit-scrollbar, .resume-section::-webkit-scrollbar{
    display: none;
}

.header {
    text-align: center;
    margin-bottom: 15px;
}


.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.header h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-row{
    display: flex;
    gap: 15px;
    margin: 1px
}

.section-title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    border-bottom: 2px solid #333;
    margin: 8px 0px;
}

.section-title-2 {
    text-align: center;
    border-top: 2px solid #333
}

.section-title-3 {
    text-align: center;
    background-color: rgb(159, 158, 158);
}

.experience{
    margin: 5px 0;
}

@media print {
    body {
        background-color: #fff;
        margin: 0;
    }
    .no-print {
        display: none;
    }
    .a4-print-container {
        width: 210mm;
        height: 297mm;
        padding: 15mm; 
        box-shadow: none; 
    }
}

::-webkit-scrollbar{
    display: none;
}


